@charset "utf-8";

/* CSS Document */
*{padding:0;margin:0;}
h1,h2,h3,h4,h5,h6,em,strong,li,dd,a,address{font: 12px 'Malgun Gothic','sans-serif';padding:0;margin:0;color:#000;}
html{overflow-y:scroll;}
html,body{width:100%;height:100%;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,tr,td,thead,tbody,form,fieldset,legend,input,textarea,button{margin:0;padding:0;}
ul,ol,li,dl,dt,dd {list-style:none;}
i,em,address{font-style:normal;}
label,button{cursor:pointer;}
button{border:none;}
hr,legend {display:none;}
img,fieldset,iframe {border:none;}
img{vertical-align:top;}
textarea{font-family:'Malgun Gothic','sans-serif';}
caption {visibility:hidden;width:0;height:0;font-size:0;overflow:hidden;text-indent:-9999px;line-height:0px;}
input,select,button{box-sizing: border-box;vertical-align:middle;-webkit-appearance: none;border-radius: 0}
table{border:none; border-collapse:collapse; padding:0; border-spacing:0;table-layout: fixed;}
input::-webkit-input-placeholder {font: 16px/42px 'Malgun Gothic','sans-serif';color:#999;}


.skip a{display:block;position:absolute;left:0;top:-9999em;width:100%;background-color:#272727;color:#aaa;font: bold 12px/3.4 arial,sans-serif;text-align:center;z-index: 99999;}
.skip a:hover,.skip a:active,.skip a:focus{top:0}

a{text-decoration:none; color:#000;}
a:link,a:visited,a:active,a:focus{}
a:hover{text-decoration:none;}
.blind {visibility:hidden;position:absolute;width:0;height:0;font-size:0;overflow:hidden;text-indent:-9999px;line-height:0px;}

/* float */
.clearfix:after{content:''; display:block; clear:both;}
.left{float:left;}
.right{float:right;}

/*기본*/
#wrap{width:100%;height:100%;font-family:'Malgun Gothic','sans-serif';}
#header{position:relative;}
#container{position:relative;*zoom:1;}
#container:after{display:block;clear:both;content:'';}
#footer{position:relative;}

/*공통부분*/
input[type=text], input[type=password] {background:#fff; border:1px solid #c9c9c9;padding:0 5px 0 10px;font-size:16px;}
input[type=text]:hover, input[type=password]:hover, input[type=text]:focus, input[type=password]:focus {border:1px solid #909090;}
textarea{border:1px solid #c9c9c9; padding:5px;}
select{border:1px solid #c9c9c9;padding:2px 2px 2px 10px; vertical-align:middle;}

/*기본 게시판 리스트*/
.bbs_list { clear: both; width: 100%; border-top: 2px solid #22b2bf; border-bottom: 1px solid #22b2bf; margin: 0 0 10px 0; table-layout: fixed;}
.bbs_list th { text-align: center; border-top: 1px solid #d1d1d1; padding: 15px 0 15px; background: #fafafa; font-size: 14px;}
.bbs_list td { text-align: center; border-top: 1px solid #d1d1d1; padding: 15px 0; color: #777; font-size: 14px;}
.bbs_list .title { text-align: left; padding-left: 10px; color: #000; border-bottom: none;}

/*기본 게시판 뷰*/
.bbs_view { clear: both; width: 100%; border-top: 2px solid #22b2bf; border-bottom: 1px solid #22b2bf; margin: 0 0 10px 0; table-layout: fixed; font-size: 14px;}
.bbs_view th { text-align: center; padding: 15px 0 15px 0; border-top: 1px solid #d1d1d1; border-right: 1px solid #d1d1d1; background: #fafafa;}
.bbs_view td { text-align: left; padding: 15px 0 15px 15px; border-top: 1px solid #d1d1d1; border-left: 1px solid #d1d1d1; line-height: 22px;}

/*기본 게시판 글쓰기*/
.bbs_write { clear: both; width: 100%; border-top: 2px solid #22b2bf; border-bottom: 1px solid #22b2bf; margin: 0 0 10px 0; table-layout: fixed;
    font-size: 14px;}
.bbs_write th { text-align: left; padding: 10px 0 10px 23px; border-top: 1px solid #d1d1d1; border-right: 1px solid #d1d1d1; background: #fafafa;
}
.bbs_write td { text-align: left; padding: 10px 0 10px 15px; border-top: 1px solid #d1d1d1; border-left: 1px solid #d1d1d1; position: relative;}
.bbs_write em { color: #ef4030;}
.bbs_write input[type="text"], .bbs_write input[type="password"] { height: 20px; border: 1px solid #ccc; line-height: 20px;}
.bbs_write textarea { border: 1px solid #ccc; width: 100%; box-sizing: border-box;}
/*게시판 버튼*/
#bbs_btn { clear: both; width: 100%; display: inline-block; margin: 10px 0;}
#bbs_btn .right { float: right;}
#bbs_btn li { display: inline; padding: 0 0;}
#bbs_btn li a { float: left; margin-left: 10px;}
#bbs_btn li a.style02 { display: block; width: 75px; height: 30px; font-size: 14px; line-height: 30px; text-align: center; color: #fff; background: #a6a195; border-radius: 2px; font-weight: 300;}

/*페이징*/
/*페이징*/
#paging{width:100%;text-align:center;margin:10px 0;}
#paging a{display: inline-block;border: 1px solid #aaa;width: 25px;height: 25px;line-height: 23px;border-radius: 3px;box-sizing: border-box;text-align: center;transition: 0.3s}
#paging a.num:hover{color: #fff;background: #666;border-color: #666;}
#paging a.num.on{color: #fff;background: #666;border-color: #666}

/* 체크박스 */
.checks {position: relative;}

.checks input[type="checkbox"] {  /* 실제 체크박스는 화면에서 숨김 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0
}
.checks input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.checks input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
  content: ' ';
  display: inline-block;
  width: 21px;  /* 체크박스의 너비를 지정 */
  height: 21px;  /* 체크박스의 높이를 지정 */
  line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
  margin: -2px 8px 0 0;
  text-align: center; 
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius : 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
.checks input[type="checkbox"] + label:active:before,
.checks input[type="checkbox"]:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checks input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */ 
  content: '\2714';  /* 체크표시 유니코드 사용 */
  color: #99a1a7;
  text-shadow: 1px 1px #fff;
  background: #e9ecee;
  border-color: #adb8c0;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

.checks.small input[type="checkbox"] + label {
  font-size: 12px;
}

.checks.small input[type="checkbox"] + label:before {
  width: 17px;
  height: 17px;
  line-height: 17px;
  font-size: 11px;
}

.checks.etrans input[type="checkbox"] + label {
  padding-left: 30px;
}
.checks.etrans input[type="checkbox"] + label:before {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0;
  opacity: .6;
  box-shadow: none;
  border-color: #6cc0e5;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.checks.etrans input[type="checkbox"]:checked + label:before {
  position: absolute;
  content: "";
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity:1; 
  background: transparent;
  border-color:transparent #6cc0e5 #6cc0e5 transparent;
  border-top-color:transparent;
  border-left-color:transparent;
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}

.no-csstransforms .checks.etrans input[type="checkbox"]:checked + label:before {
  /*content:"\2713";*/
  content: "\2714";
  top: 0;
  left: 0;
  width: 21px;
  line-height: 21px;
  color: #6cc0e5;
  text-align: center;
  border: 1px solid #6cc0e5;
}